main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
section[id*="info"] {
  margin: 10vh 0;
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  
}

section[id="info-illustration"] {
  margin-top: 5vh;
}

#comm-container{
  display: flex;
  flex-direction: column;
  align-items: first baseline;
}

.comm-display {
  margin-top: 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 5em;
}

/* start of the card flip
code from https://www.w3schools.com/howto/howto_css_flip_card.asp */
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 30vw;
  height: 30vw;
  /* border: 1px solid #f1f1f1; */
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-image: url(img/gguokka_LazuLightPP_BG.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #bbb;
  /* color: white; */
}

/* Style the back side */
.flip-card-back {
  background-image: url(img/guo_waa.png);
  background-color: dodgerblue;
  background-size: contain;
  /* color: black; */
  transform: rotateY(180deg);
}

/* text outline from https://www.codesdope.com/blog/article/adding-outline-to-text-using-css/ */
.img-container > p{
  color: #fff;
  -webkit-text-stroke: 2px rgb(42, 28, 53);
}
/* end of card flip */

/* start of circle nav style */
.circle-nav{
  position: fixed;
  right: 1em;
  top: 44vh;

}
.circle-nav a {
  text-decoration: none;
  color: #fff;
  opacity: 0.5;
}
/* end of circle nav style */